@charset "utf-8";
@use "sass:color";

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src:
    url(/assets/fonts/playfair-display-latin-500-normal.woff2) format("woff2"),
    url(/assets/fonts/playfair-display-latin-500-normal.woff) format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  src:
    url(/assets/fonts/playfair-display-latin-800-normal.woff2) format("woff2"),
    url(/assets/fonts/playfair-display-latin-800-normal.woff) format("woff");
}

body,
nav,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", system;
  font-weight: 500;
  strong {
    font-weight: 800;
  }
}
:root {
  --active-brightness: 0.85;
  --border-radius: 5px;
  --border-radius-small: 0;
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  --color-accent: #118bee15;
  --color-scrollbar: #cacae8;
  --color-shadow: #f4f4f4;
  --color-table: #118bee;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.8;
  --border-radius: 0;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-card: 285px;
  --width-content: 1080px;
  --width-content: 1300px;

  --font-family-heading: "Playfair Display", system;
  --font-family-body:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --color-bg: #111;
  --color-bg-secondary: #000;
  --color-bg-main: #000;
  --color-link: #fff;
  --color-secondary: #eee;
  --color-secondary-accent: #eee;
  --color-text: #eee;
  --outer-border-radius: 0;
  --border: 2px solid rgba(255, 255, 255, 0.2);
  --width-content: 1300px;
  --line-height: 2;
}

nav {
  ul li ul {
    padding: 0;
  }
  a {
    text-decoration: none;
    transition: text-shadow 0.5s linear;
    &:active,
    &:hover {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
      text-decoration: none;
    }
    &.active {
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
      text-decoration: none;
      font-weight: 800;
    }
  }
}

body.left-nav main {
  @media (min-width: 789px) {
    grid-template-columns: 10rem 1fr !important;
    grid-template-rows: 1fr min-content !important;
    grid-template-areas: "nav content" !important;
  }
}

header {
  h1 {
    color: white;
    background: rgba(49, 21, 7, 0.6);
    border: 2px solid #c8aea5;
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    text-decoration: none;
  }
  .banner img {
    min-height: 100%;
    min-width: 100%;
  }
}

ul.items {
  & > * {
    width: 100%;
    @media (min-width: 789px) {
      width: calc((100% - 2rem) / 3);
    }
    @media (min-width: 900px) {
      width: calc((100% - 3rem) / 4);
    }
  }
}

.items {
  a {
    text-decoration-color: rgba(255, 255, 255, 0.3);
    &:hover,
    &:active,
    &:focus {
      text-decoration-color: rgba(255, 255, 255, 0.7);
    }
    p {
      text-decoration: none;
    }
  }
}

ul.image-gallery li {
  img {
    aspect-ratio: 1;
    object-fit: cover;
  }
  a:hover {
    transform: none;
    img {
      transform: none;
    }
  }
  .image-wrapper {
    aspect-ratio: 1 !important;
  }
}

body.sticky-mobile-nav nav .toggle-label span,
body.sticky-mobile-nav nav .toggle-label span::before,
body.sticky-mobile-nav nav .toggle-label span::after {
  background: var(--color-link);
}

body > footer {
  background: var(--color-bg);
  color: var(--color-text);
  p a {
    color: var(--color-text);
    text-decoration: underline;
  }
  .socials li a img {
    filter: invert(100%);
  }
}

.homepage-images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0 0;
  @media (min-width: 789px) {
    flex-direction: row;
    & > .image-wrapper {
      flex: 0 0 calc(50% - 0.5rem);
    }
  }
}

.button {
  text-transform: uppercase;
}
