@charset "utf-8";
@use "sass:color";

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src:
    url(/assets/fonts/playfair-display-latin-500-normal.woff2) format("woff2"),
    url(/assets/fonts/playfair-display-latin-500-normal.woff) format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  src:
    url(/assets/fonts/playfair-display-latin-800-normal.woff2) format("woff2"),
    url(/assets/fonts/playfair-display-latin-800-normal.woff) format("woff");
}

nav,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", system;
  font-weight: 500;
  strong {
    font-weight: 800;
  }
}

:root {
  --color-bg: #000;
  --color-bg-secondary: #222;
  --color-bg-main: #000;
  --color-link: #fff;
  --color-secondary: #fff;
  --color-secondary-accent: #fff;
  --color-text: #eee;
  --outer-border-radius: 0;
  --border: 2px solid rgba(255, 255, 255, 0.2);
  --width-content: 1300px;
  --line-height: 2;
}

nav,
article {
  background: var(--color-bg-secondary);
}

header,
footer {
}

nav {
  ul li ul {
    padding: 0;
  }
  a {
    text-decoration: none;
    transition: text-shadow 0.5s linear;
    &:active,
    &:hover {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
      text-decoration: none;
    }
    &.active {
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
      text-decoration: none;
      font-weight: 800;
    }
  }
}

body.left-nav main {
  @media (min-width: 769px) {
    grid-template-columns: 10rem 1fr !important;
    grid-template-rows: 1fr min-content !important;
    grid-template-areas: "nav content" !important;
  }
}

header {
  h1 {
    color: white;
    background: rgba(49, 21, 7, 0.6);
    border: 2px solid #c8aea5;
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    text-decoration: none;
  }
}

form.contact-form {
  background: #000;
  box-shadow: none;
  color: var(--color-link);
  label,
  button {
    color: var(--color-link);
  }
}

ul.items {
  & > * {
    width: 100%;
    @media (min-width: 798px) {
      width: calc((100% - 2rem) / 3);
    }
    @media (min-width: 900px) {
      width: calc((100% - 3rem) / 4);
    }
  }
}

.items {
  a {
    text-decoration-color: rgba(255, 255, 255, 0.3);
    &:hover,
    &:active,
    &:focus {
      text-decoration-color: rgba(255, 255, 255, 0.7);
    }
    p {
      text-decoration: none;
    }
    &.image-link {
      padding-top: 100%;
      display: block;
      position: relative;
      background: #c8b4a4;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

ul.image-gallery li {
  figcaption {
    display: none;
  }
  a:hover {
    transform: none;
    img {
      transform: none;
    }
  }
}
